{% extends "layout.njk" %}

{% block header %}
<div class="links">
    <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
    <a href="mailto:oi@rocketseat.com.br">Email</a>
    <a href="tel:+5547992078767">Telefone</a>
    <a href="/courses">Conteúdo</a>
    <a href="#linguagens" class="destak">Sobre</a>
    </div>
{% endblock header %}

{% block content %}

    <div id="about">
   
        <div class="about-img">
            <img src="https://scontent.fssa2-1.fna.fbcdn.net/v/t1.0-9/104169738_687672685112542_1468337677738709328_n.png?_nc_cat=108&_nc_sid=85a577&_nc_ohc=bEpYvUGdhmwAX9ywrKS&_nc_ht=scontent.fssa2-1.fna&oh=546239db79ffc6a554d4b729f81bb5f2&oe=5F106F73" alt="">
            <h1>Rocketseat</h1>
            <h2>“Você nunca sai perdendo quando ganha conhecimento!”</h2>

    
    <section id="linguagens"class="sobre">
    </div class="about-description">
        <h1>Acelere na direção dos seus objetivos.</h1>
         <p>Mais do que uma plataforma de educação em tecnologia, 
    somos uma comunidade incrível de programadores em busca do próximo nível 🚀</p>
    

    </div>
    <ul class="skills">
    <li class="skill">HTML</li>
    <li class="skill">CSS</li>
    <li class="skill">Javascript</li>
    
    </ul>
    
    <div id="links-footer" class="links">
    <a href="https://github.com/Rocketseat">GitHub</a>
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br">Instagram</a>
    <a href="https://www.facebook.com/rocketseat/">Facebook</a>
    
    
       <a href="/">Voltar</a>
    </div>

    
    </section>
{% endblock  %}