<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style.css">
    <title>Rocketseat</title>
</head>
<body>
    
    
    <header>
    {% block header %}
    {% endblock header %}
    
    </header>


    {% block content %}
    
    {% endblock content %}


 <footer>
    <div class="footer">
    by Ismar Santos during  LaunchBase - Rocketseat
    </div>
 </footer>

    
</body>
</html>